/*------------Fonts------------*/
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*------------Universal Styling------------*/
* {
    margin: 0;
    padding: 0;
    font-family: "SN Pro", sans-serif;
    text-align: center;
    color: white;
}
div {
    
}
body{
    background-color: rgb(27, 27, 27);
    width: 100vw;
    overflow-x: hidden;
}
.btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255,1);
    border: 3px solid white;
    border-radius: 10px;
    padding: .5% 2.5%;
    margin: 1%;
    font-size: 1.25em;
}
.btn:hover{
    background-color: rgb(37, 37, 37);
    color: white;
    transition: linear 0.3s;
}
.btn-box{
    margin-top: 5%;
}
.btn-box :first-of-type{
    border: 3px solid white;
    background-color: transparent;
    color: white;
}
.btn-box :first-of-type:hover{
    background-color: white;
    color:rgb(37, 37, 37);
    transition: linear 0.3s;
}

/*------------Header Styling------------*/
h1{
    font-size: 3.75em;
    letter-spacing: .05em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

/*------------NavBar Styling------------*/
.navbar{
    /*Formatting & Styling*/
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 1.25em;
    align-items: center;
    
    /*Positioning & Layout*/
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: 6vh;
    padding-left: 5%;
}
.navbar .btn{
    font-size: 1.25rem;
    padding: 1% 15%;
    color: rgb(27, 27, 27);
}
.navbar .btn:hover{
    color: white;
}
.navbar ul{
    /*Formatting & Styling*/
    list-style: none;
    /*Positioning & Layout*/
    display: flex;
    flex-direction: row;
    
}
.navbar li{
    margin: 0 20%;
}
.navbar a{
    text-decoration: none;
    color: rgba(255, 255, 255,0.75);
}
.navbar a:hover{
    color: rgb(241, 78, 193);
    transition: linear 0.3s;
}

/*------------Footer Styling------------*/
.footer{
    /*Formatting & Styling*/
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 1.25em;

    /*Positioning & Layout*/
    display: flex;
    flex-direction: row;
    width: 75vw;
    bottom: 0;
    height: 18vh;
    align-items: center;
    gap: 50%;
    padding-left: 25%;
    line-height: 1.5;
    overflow: hidden;
}
.footer ul{
    list-style: none;
    text-decoration: none;
}
.footer a{
    text-decoration: none;
    color: rgba(255, 255, 255,0.75);
}
.footer a:hover{
    color: rgb(241, 78, 193);
    transition: linear 0.3s;
}
.footer-right :first-line{
    color:rgb(241, 78, 193);
}

/*------------Loading Screen Styling------------*/
.loading-screen-window{
    /*Window Size & Positioning*/
    align-content: center;
    width: 50%;
    height: 60vh;
    margin-left: 25%;
    margin-top: 20vh;
    /*Window Styling*/
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 4px solid rgb(161, 161, 161);
    background-color: rgb(51, 51, 51);
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(109, 109, 109));
}
.loading-screen-window-content{
    /*Window Size & Positioning*/
    height: 72%;
    margin-top: 3%;
    /*Window Styling*/
    border-top: 4px solid rgb(37, 37, 37);
    border-bottom: 2px solid rgb(36, 36, 36);
    background-color: rgb(51, 51, 51);
    /*Content Organisation*/
    padding-top: 15%;
    /*Content Styling*/
    color: white;
}

/*------------Homepage Header Styling------------*/
    .homepage-header{
        height: 65vh;
        align-content: center;
        background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(109, 109, 109));
    }

/*------------Card Bar Styling------------*/
.bar-card{
    /*Formatting & Styling*/
    border: 4px solid rgb(241, 78, 193);
    color: black;
    background-color: white;
    width: 15%;
    height: 30vh;
    border-radius: 15px;
    padding: 1% 0;
    /*Structure*/
}
.bar-card h3{
    color: black;
}
.bar-card p{
    color: black;
}
.bar-card img {
    height: 45%;
    width: 85%;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5%;
}
.card-bar{
    display: flex;
    justify-content: center;
    gap: 2%;
    background-color: black;
    padding: 2%;
}

/*------------Academic Callout Styling------------*/
.left-callout-section{
    display: flex;
    width: 100vw;
    overflow: hidden;
} 
.left-callout-left{
    width: 40%;
    height: 45vh;
}
.left-callout-left img{
    width: 100%;
    height: 100%;
}
.left-callout-right{
    padding: 8%;
    width: 55%;
}
.left-callout-right h2{
    margin: 3%;
    margin-top: 1.5%;
    font-size: 2.5em;
}
.left-callout-right p{
    font-size: 1.35em;
}

/*------------Project Callout Styling------------*/
.right-callout-section{
    display: flex;
    width: 100vw;
    overflow: hidden;
} 
.right-callout-right{
    width: 40%;
    height: 45vh;
}
.right-callout-right img{
    width: 100%;
    height: 100%;
}
.right-callout-left{
    padding: 8%;
    width: 55%;
}
.right-callout-left h2{
    margin: 3%;
    margin-top: 1.5%;
    font-size: 2.5em;
}
.right-callout-left p{
    font-size: 1.35em;
}