/*------------Fonts------------*/
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*------------Universal Styling------------*/
* {
    margin: 0;
    font-family: "SN Pro", sans-serif;
    text-align: center;
}
div {
    
}
body{
    background-color: rgb(27, 27, 27);
}
.btn {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: .5% 2.5%;
    margin: 1%;
    font-size: 1.25em;
}
.btn:hover{
    background-color: rgb(37, 37, 37);
    color: white;
    transition: linear 0.3s;
}
.btn-box{
    margin-top: 5%;
}
.btn-box :first-of-type{
    border: 3px solid white;
    background-color: transparent;
    color: white;
}
.btn-box :first-of-type:hover{
    background-color: white;
    color:rgb(37, 37, 37);
    transition: linear 0.3s;
}

/*------------Header Styling------------*/
h1{
    font-size: 3.75em;
    margin-top: 2%;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

/*------------Loading Screen Styling------------*/
.loading-screen-window{
    /*Window Size & Positioning*/
    align-content: center;
    width: 50%;
    height: 60vh;
    margin-left: 25%;
    margin-top: 20vh;
    /*Window Styling*/
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 4px solid rgb(161, 161, 161);
    background-color: rgb(51, 51, 51);
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(109, 109, 109));
}
.loading-screen-window-content{
    /*Window Size & Positioning*/
    height: 72%;
    margin-top: 3%;
    /*Window Styling*/
    border-top: 4px solid rgb(37, 37, 37);
    border-bottom: 2px solid rgb(36, 36, 36);
    background-color: rgb(51, 51, 51);
    /*Content Organisation*/
    padding-top: 15%;
    /*Content Styling*/
    color: white;
}